/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-danger);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  --color-danger: #830000;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.description {
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
}

.max-container {
  max-width: var(--size-max-width);  
  margin: 0 auto;
}

/* header */
.header {
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
header a {
  color: var(--color-white);
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-img {
  width: 36px;
  height: 36px;
}

.header-logo-title {
  font-size: 1.8rem;
}
.header-menu {
  display: flex;
  gap: 4px;
}
.header-menu-item {
  padding: 8px 20px;
}
.header-menu-item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header-menu-item.active {
  border: 1px solid var(--color-accent);
  border-radius: 8px;
}

/* Home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
  width: 100%;
}

.home-avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--color-accent);
  border-radius: 100%;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home-title--strong {
  color: var(--color-accent);
}
.home-description {
  font-size: 1.3rem;
}
.home-git,
.home-vel {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.home-git:hover,
.home-vel:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

/* About */
.majors {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 2.5rem 0;
}
.major {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: no-drop;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.major-icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
}

.major-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major-icon {
  transform: rotate(-15deg) scale(1.2);
}

.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.job-name {
  color: var(--color-primary);
}

.job-period {
  color: var(--color-primary);
  font-size: 0.8rem;
}

/* Skills */

#skills{
    background-color: var(--color-primary-variant);
    color: var(--color-text);        
}

.skills{
    display: grid;
    grid-template-columns: 6fr 4fr;    
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
}

.skills-title{
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills-coding{
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills-tools{
    padding: 1rem;
}

.skills-etc{
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%);
}
