/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-danger);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  --color-danger: #830000;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.description {
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
}

.max-container {
  max-width: var(--size-max-width);
  margin: 0 auto;
}

/* header */
.header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  z-index: 1;
  transition: all 300ms ease-in;
}
header a {
  color: var(--color-white);
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-img {
  width: 36px;
  height: 36px;
}

.header-logo-title {
  font-size: 1.8rem;
}
.header-menu {
  margin: 0 5rem;
  display: flex;
  gap: 4px;
}
.header-menu li {
  text-align: center;
  display: flex;
  justify-content: center;
}
.header-menu-item {
  display: block;
  padding: 8px 20px;
  color: var(--color-text);
  border-bottom: 1px solid transparent;
}
.header-menu-item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header-menu-item.active {
  border: 1px solid var(--color-accent);
  border-radius: 8px;
}
.header-menu-item:focus {
  outline: none;
}

/* Home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
  width: 100%;
}

.home-avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--color-accent);
  border-radius: 100%;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home-title--strong {
  color: var(--color-accent);
}
.home-description {
  font-size: 1.3rem;
}
.home-git,
.home-vel {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.home-git:hover,
.home-vel:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

/* About */
.majors {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 2.5rem 0;
}
.major {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: no-drop;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.major-icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
}

.major-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major-icon {
  transform: rotate(-15deg) scale(1.2);
}

.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.job-name {
  color: var(--color-primary);
}

.job-period {
  color: var(--color-primary);
  font-size: 0.8rem;
}

/* Skills */

#skills {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
}

.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.skills-title {
  color: var(--color-accent);
  margin: 1rem 0;
  font-size: 1.2rem;
}

.skills-coding {
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--color-primary);
}

.skills-tools {
  padding: 1rem;
}

.skills-etc {
  padding: 1rem;
  background-color: var(--color-primary);
  filter: brightness(150%);
}

/* Work */
#work {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}
.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}

.category-selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.category-count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: var(--color-accent-variant);
  color: var(--color-text);
  transition: all 250ms ease-in;
}

.category-selected .category-count,
.category:hover .category-count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project-img {
  width: 100%;
}

.project-metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project-metadata:hover {
  color: var(--color-text);
  opacity: 0.8;
  transform: translateY(0px);
}
.project-metadata a {
  color: var(--color-text);
}

.project-title:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: var(--color-accent);
}

/* Testimonial */

.testimonials {
  margin: 3rem;
}
.testimonial {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.testimonial:nth-child(even) .testimonial-img {
  order: 1;
}

.testimonial-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.testimonial-bubble {
  pad: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.testimonial-bubble-name {
  color: var(--color-accent);
  font-weight: bold;
  filter: brightness(70%);
}

/* Arrow */
.fa-arrow-up {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: var(--color-primary);
  box-shadow: 3px 3px 0px 0px var(--color-accent);
  color: var(--color-text);
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  font-size: 3rem;
  text-align: center;
  line-height: 4.5rem;
  opacity: 0;
}

/* bars */
.header-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 3rem 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  .header {
    justify-content: space-between;
  }
  .header-menu {
    flex-direction: column;
    text-align: center;
    padding: 1rem 4rem;
    gap: 1rem;
  }
  .header-nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 51px;
    left: 0;
    background-color: var(--color-primary-variant);
  }
  #home {
    padding-bottom: 3rem;
  }
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .majors {
    flex-direction: column;
    align-items: center;
  }
  .major {
    max-width: 25rem;
  }
  .job {
    justify-content: center;
    padding: 0rem 8rem;
  }
  .skills {
    grid-template-columns: 1fr;
  }
  .categories {
    flex-direction: column;
  }
  .category {
    width: 100%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial {
    flex-direction: column;
  }
  .testimonial:nth-child(even) .testimonial-img {
    order: 0;
  }
  .header-toggle {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    color: var(--color-text);
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

  .header-menu-item.active {
    border: none;
    border-radius: 8px;
  }
}
